<%- include partials/header.ejs %>
    <%- include partials/main-nav.ejs %>

        <main class="about">
            <div class="about-main">
                <h1>About</h1>
                <div class="about-img">
                    <img src="/Assets/images/Sanish.jpg" width="500" height="500" alt="Sanish Kadariya">
                </div>
                <div class="about-txt">
                    <p>
                        Hello, I am Sanish Kadariya. I am an aspiring software engineer. I have a background in
                        Aerospace Engineering. I am studying software engineering to further advance my career.
                    </p>
                    <p>
                        Some of the software I have used to do projects are: MATLAB, Java programming, C programming,
                        and C#. I have also used design software like AutoCAD and CATIA.
                    </p>
                    <p>
                        For further information, please view my <a
                            href="https://docs.google.com/document/d/14og6x7dGkACvdN8LLIwUAyRZBQp6nXD9xx62fccofno/edit"
                            target="_blank" rel="noopener">resume</a>.
                    </p>
                </div>
            </div>
        </main>

        <%- include partials/bottom-nav.ejs %>
            <%- include partials/footer.ejs %>