<%- include partials/header.ejs %>
    <%- include partials/main-nav.ejs %>
        <main class="projects">
            <div class="projects-main">
                <h1>Projects</h1>
                <div class="projects-container">
                    <div class="project project-1">
                        <div class="project-img">
                            <img src="/Assets/images/project1.jpeg" alt="Project 1" width="300" height="150">
                        </div>
                        <div class="project-txt">
                            <h2>Model Drone Control System Design</h2>
                            <p>
                                This project involved designing a control system for a model drone. The control system
                                was designed using
                                MATLAB and the various components such as the sensors, actuators, and control algorithms
                                were modeled and
                                simulated.
                            </p>
                        </div>
                    </div>
                    <div class="project project-2">
                        <div class="project-img">
                            <img src="/Assets/images/project2.jpg" alt="Project 2" width="300" height="150">
                        </div>
                        <div class="project-txt">
                            <h2>Smart Parking System</h2>
                            <p>
                                This project involved designing a smart parking system which would dynamically allocate
                                parking spots based
                                on the number of vehicles in the parking lot. The system was designed using Java
                                programming and utilized
                                sensors to count the number of vehicles.
                            </p>
                        </div>
                    </div>
                    <div class="project project-3">
                        <div class="project-img">
                            <img src="/Assets/images/project3.png" alt="Project 3" width="300" height="150">
                        </div>
                        <div class="project-txt">
                            <h2>ECS for Aircrafts</h2>
                            <p>
                                This project involved designing an Environmental Control System (ECS) for an aircraft.
                                The ECS was designed
                                to maintain a comfortable environment for passengers by regulating temperature, pressure
                                and humidity
                                within the aircraft. The design was done using MATLAB and SIMULINK.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include partials/bottom-nav.ejs %>
            <%- include partials/footer.ejs %>