<%- include partials/header.ejs %>
    <%- include partials/main-nav.ejs %>

        <main class="services">
            <h1>Services</h1>
            <div class="services-container">
                <div class="services-section">
                    <div class="service-icon">
                        <i class="fas fa-code"></i>
                    </div>
                    <h2>General Programming</h2>
                    <ul>
                        <li>Java</li>
                        <li>C</li>
                        <li>MATLAB</li>
                        <li>C#</li>
                    </ul>
                </div>
                <div class="services-section">
                    <div class="service-icon">
                        <i class="fas fa-bug"></i>
                    </div>
                    <h2>Quality Testing</h2>
                    <ul>
                        <li>Unit testing</li>
                        <li>Stub / driver testing</li>
                    </ul>
                </div>
                <div class="services-section">
                    <div class="service-icon">
                        <i class="fas fa-pencil-ruler"></i>
                    </div>
                    <h2>Design</h2>
                    <ul>
                        <li>AutoCAD</li>
                        <li>CATIA</li>
                    </ul>
                </div>
            </div>
        </main>

        <%- include partials/bottom-nav.ejs %>
            <%- include partials/footer.ejs %>